[Album Settings]
Item Left Click Action=0
Preview Load Full Image Size=false
Show Album ToolTips=true
Show ToolTips=true

[Database Settings]
Database Connectoptions=
Database Encrypted Password=AwJJSUk=
Database Hostname=
Database Name={{ digikam_database_path }}
Database Name Face={{ digikam_database_path }}
Database Name Similarity={{ digikam_database_path }}
Database Name Thumbnails={{ digikam_database_path }}
Database Port=-1
Database Type=QSQLITE
Database Username=
Internal Database Server=false
Internal Database Server Mysql Admin Command=
Internal Database Server Mysql Init Command=
Internal Database Server Mysql Server Command=
Internal Database Server Path=

[ImageViewer Settings]
UseRawImportTool=false

[Metadata Settings]
Clear Metadata If Rescan=false
EXIF Rotate=true
EXIF Set Orientation=true
Metadata Writing Mode=0
Rescan File If Modified=false
Rotate By Internal Flag=true
Rotate By Metadata Flag=true
Rotate Contents Lossless=true
Rotate Contents Lossy=false
Save Color Label=false
Save Date Time=false
Save EXIF Comments=false
Save FaceTags=false
Save Pick Label=false
Save Rating=false
Save Tags=false
Save Template=false
Update File Timestamp=true
Use Lazy Synchronization=false
Use XMP Sidecar For Reading=false
Write Metadata To RAW Files=false

[EnabledDPlugins]
org.kde.digikam.plugin.editor.AdjustCurvesTool=true
org.kde.digikam.plugin.editor.AdjustLevelsTool=true
org.kde.digikam.plugin.editor.AntiVignettingTool=true
org.kde.digikam.plugin.editor.AutoCorrectionTool=true
org.kde.digikam.plugin.editor.AutoCropTool=true
org.kde.digikam.plugin.editor.BCGTool=true
org.kde.digikam.plugin.editor.BWSepiaTool=true
org.kde.digikam.plugin.editor.BlurFXTool=true
org.kde.digikam.plugin.editor.BlurTool=true
org.kde.digikam.plugin.editor.BorderTool=true
org.kde.digikam.plugin.editor.CBTool=true
org.kde.digikam.plugin.editor.ChannelMixerTool=true
org.kde.digikam.plugin.editor.CharcoalTool=true
org.kde.digikam.plugin.editor.ColorFXTool=true
org.kde.digikam.plugin.editor.ContentAwareResizeTool=true
org.kde.digikam.plugin.editor.Convert16To8Tool=true
org.kde.digikam.plugin.editor.Convert8To16Tool=true
org.kde.digikam.plugin.editor.DistortionFXTool=true
org.kde.digikam.plugin.editor.EmbossTool=true
org.kde.digikam.plugin.editor.FilmGrainTool=true
org.kde.digikam.plugin.editor.FilmTool=true
org.kde.digikam.plugin.editor.FreeRotationTool=true
org.kde.digikam.plugin.editor.GmicQt=true
org.kde.digikam.plugin.editor.HSLTool=true
org.kde.digikam.plugin.editor.HealingCloneTool=true
org.kde.digikam.plugin.editor.HotPixelsTool=true
org.kde.digikam.plugin.editor.InsertTextTool=true
org.kde.digikam.plugin.editor.InvertTool=true
org.kde.digikam.plugin.editor.LensAutoFixTool=true
org.kde.digikam.plugin.editor.LensDistortionTool=true
org.kde.digikam.plugin.editor.LocalContrastTool=true
org.kde.digikam.plugin.editor.OilPaintTool=true
org.kde.digikam.plugin.editor.PerspectiveTool=true
org.kde.digikam.plugin.editor.PrintTool=true
org.kde.digikam.plugin.editor.ProfileConversionTool=true
org.kde.digikam.plugin.editor.RainDropTool=true
org.kde.digikam.plugin.editor.RatioCropTool=true
org.kde.digikam.plugin.editor.RedEyeTool=true
org.kde.digikam.plugin.editor.ResizeTool=true
org.kde.digikam.plugin.editor.RestoreTool=true
org.kde.digikam.plugin.editor.SharpenTool=true
org.kde.digikam.plugin.editor.ShearTool=true
org.kde.digikam.plugin.editor.TextureTool=true
org.kde.digikam.plugin.editor.WhiteBalanceTool=true
org.kde.digikam.plugin.generic.Box=false
org.kde.digikam.plugin.generic.Calendar=true
org.kde.digikam.plugin.generic.DigitalScanner=true
org.kde.digikam.plugin.generic.DropBox=false
org.kde.digikam.plugin.generic.ExpoBlending=true
org.kde.digikam.plugin.generic.FileCopy=true
org.kde.digikam.plugin.generic.FileTransfer=true
org.kde.digikam.plugin.generic.Flickr=false
org.kde.digikam.plugin.generic.FlowView=true
org.kde.digikam.plugin.generic.GLViewer=true
org.kde.digikam.plugin.generic.GeolocationEdit=true
org.kde.digikam.plugin.generic.GoogleServices=false
org.kde.digikam.plugin.generic.HtmlGallery=true
org.kde.digikam.plugin.generic.ImageMosaicWall=true
org.kde.digikam.plugin.generic.ImageShack=false
org.kde.digikam.plugin.generic.ImgUr=true
org.kde.digikam.plugin.generic.JAlbum=false
org.kde.digikam.plugin.generic.MediaServer=true
org.kde.digikam.plugin.generic.MediaWiki=true
org.kde.digikam.plugin.generic.MetadataEdit=true
org.kde.digikam.plugin.generic.MjpegStream=true
org.kde.digikam.plugin.generic.OneDrive=false
org.kde.digikam.plugin.generic.Panorama=true
org.kde.digikam.plugin.generic.Pinterest=false
org.kde.digikam.plugin.generic.Piwigo=false
org.kde.digikam.plugin.generic.Presentation=true
org.kde.digikam.plugin.generic.PrintCreator=true
org.kde.digikam.plugin.generic.Rajce=true
org.kde.digikam.plugin.generic.SendByMail=true
org.kde.digikam.plugin.generic.SlideShow=true
org.kde.digikam.plugin.generic.SmugMug=false
org.kde.digikam.plugin.generic.TimeAdjust=true
org.kde.digikam.plugin.generic.Twitter=false
org.kde.digikam.plugin.generic.VideoSlideShow=true
org.kde.digikam.plugin.generic.iNaturalist=true
