[Desktop Entry]
Version=1.1
Type=Application
Name=digiKam
GenericName=Photo management
Comment=Manage your photographs like a professional with the power of open source
Icon={{ desktop_icon.dest }}
TryExec={{ digikam_bin_path }}/digikam
Exec={{ digikam_bin_path }}/digikam -qwindowtitle %c
NoDisplay=false
Categories=Graphics;Photography;Qt;
Keywords=digikam;photography;images;photo manager;camera;
MimeType=x-content/image-dcf;x-content/image-picturecd;
{# StartupNotify=false #}
Terminal=false
StartupWMClass=digikam
